/***********************************hide & show***************************************/
.menu {
    display: none;
    background-color: #efd5c3;
}

.cart {
    display: grid;
    display: none;
    background-color: #b1887f;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    padding: 10px 10px;
}

.receipt {
    display: none;
    background-color: #b1887f;
    padding: 10px;
    padding: 10px 10px;
}

.home {
    display:grid;
    display: block;
    background-color: #efd5c3;
}




.showHomeBtn {
    display: none;
}

.showCartBtn {
    display: block;
}

.showMenuBtn {
    display: block;
} 
/***********************************hide & show end***************************************/
/* 
dark brown / 30% --> b1887f
light brown / 60% --> efd5c3
blue / 10% --> 00c3ff
light blue --> afccdf
hover --> 88e3ff 
*/
/****************************Nav*********************************/
nav {
    background-color:#b1887f;
    Border: 4px solid #efd5c3;
    position: sticky;
    top: 0;
}

ul{
    overflow: hidden;
    list-style-type: none;
}

ul li {
    float: right;
    background-color: #00c3ff;
}

ul li a {
    color: black;
    Border: 4px solid #b1887f;
    display: block;
    text-align: left;
    padding: 20px 20px;
}

ul li a:hover {
    background-color: #88e3ff;
}

/****************************nav end******************************/


/****************************body & misc******************************/
body {
    background-color: #efd5c3;
}

/*buttons*/
button {
    border-color: #00c3ff;
    background: #00c3ff;
    padding: 20px;
    font-weight: bold;
    font-size: 15px;
}

button:hover {
    background: #88e3ff;
    border-color: #88e3ff;
}

.removeItem {
    border-color: #afccdf;
    background: #afccdf;
}

/*imgs*/
.smallImg {
    align-items: center;
}
/****************************body & misc end******************************/

/****************************Drinks & food*********************************/
.drinks, .foods {
    background-color: #b1887f;
    padding: 10px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto;
    padding: 10px 10px;
    text-align: center;
    border: solid 5px #efd5c3;
}

.drinkHeading, .foodHeading {
    border: solid 5px #efd5c3;
    padding: 20px;
    color: black;
    background-color: #efd5c3;
    grid-column-start: 1;
    grid-column-end: 5;
}

.drink, .food {
    background-color: #b1887f;
    padding: 20px;
    border: solid 5px #efd5c3;
    margin: 30px;
}

/******************credits******************/
.credits {
    background-color: #b1887f;
    padding: 10px 10px;
}

.foodCredits {
    font-size: 12px;
    padding: 10px 10px;
}

.drinksCredits {
    font-size: 12px;
    padding: 10px 20px;
}

/****************************Drinks & food end*********************************/


/**********************************Cart****************************************/
.cartHeading {
    background-color: #efd5c3;
    padding: 10px;
    text-align: center;
}

.items {
    background-color: #efd5c3;
    padding: 10px;
    margin: 10px;
}

.total {
    background-color: #efd5c3;
    padding: 10px;
    margin: 10px;
}

.placeOrder, .submit {
    padding: 18px;
    font-weight: bold;
    font-size: 18px;
    background-color: #afccdf;
    border-color: #afccdf;
}

.backBtn {
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    background-color: #00c3ff;
}

/**********************************Cart end****************************************/


/**********************************receipt****************************************/
.receiptHeading {
    background-color: #efd5c3;
    padding: 10px;
    text-align: center;
}

.itemList {
    background-color: #efd5c3;
    padding: 10px;
    margin: 10px;
}

.receiptOutput {
    background-color: #efd5c3;
    padding: 10px;
    margin: 10px;
}

.receiptForm {
    background-color: #efd5c3;
    padding: 10px;
    margin: 10px;
}

.receiptForm input{
    background-color: #00c3ff;
    padding: 10px;
    margin: 10px;
}
/**********************************receipt end****************************************/
.ImgHeading {
    text-align: center;
}

.ImgHeading, .paragraph, .smallImg, .smallParagraph {
    background-color: #efd5c3;
    border:solid 5px #b1887f;
}